<h1>{{ user.username }}'s Profile</h1>

<p>Posts: {{ posts.count }}</p>

<p>Followers: {{ followers_count }}</p>

<p>Following: {{ following_count }}</p>

<hr>
{% if user != request.user %}

    {% if is_following %}
        <form method="POST" action="{% url 'unfollow' user.id %}">
            {% csrf_token %}

            <button type="submit">
                Unfollow
            </button>
        </form>
    {% else %}
        <form method="POST" action="{% url 'follow' user.id %}">
            {% csrf_token %}

            <button type="submit">
                Follow
            </button>
        </form>
    {% endif %}

{% endif %}

<h2>Posts</h2>

{% for post in posts %}
    <div>
        <h3>{{ post.content }}</h3>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="Post image">
    {% endif %}
        <small>{{ post.created_at }}</small>
    <br>

        {% if post.is_liked %}
            <a href="{% url 'like' post.id %}">
            💔 Unlike
            </a>
        {% else %}
            <a href="{% url 'like' post.id %}">
            ❤️ Like
            </a>
        {% endif %}
    <span>
        {{ post.likes.count }} likes
    </span>
    </div>
    <h4>Comments</h4>

    {% for comment in post.comments.all %}
        <p>
             <strong>{{ comment.user.username }}</strong>:
                {{ comment.content }}
        </p>
        {% empty %}
            <p>No comments yet.</p>
    {% endfor %}
    <form method="POST" action="{% url 'comment' post.id %}">
    {% csrf_token %}

    <input type="text" name="content" placeholder="write a comment..."
           required>
    <button type="submit"> Comment </button>
    </form>

{% empty %}
    <p>No posts yet.</p>
{% endfor %}